[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"

[packages]
pynput = "*"

[requires]
python_version = "3.7"

[scripts]
start = "python app.py"
lint = "pylint ."
fix = "autopep8 -ivr ."